body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header {
    margin-bottom: 30px;
}

nav a {
    margin-right: 20px;
}

footer {
    margin-top: 50px;
    font-family: monospace;
    color: #555;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
h1 {
    color: darkblue;
}

nav {
    margin-top: 10px;
}

a {
    text-decoration: none;
}